<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <!--Contains GibraltarTarget class marked as "Gibraltar" target type-->
      <add assembly="Gibraltar.Agent.NLog4"/>
    </extensions>
    <targets>
      <!--Define a named target using the "Gibraltar" target type-->
      <target name="Gibraltar" xsi:type="Gibraltar"/>
    </targets>
    <rules>
      <!--Send all logging to the "Gibraltar" named target-->
      <logger name="*" minlevel="Trace" writeTo="Gibraltar"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
